<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ asset("css/styles.css") }}">
    <script type="text/javascript" src="{{ asset("js/main.js") }}"></script>
</head>
<body>
<script type="text/javascript">
    var siteBase = "{{ getBaseUrl() }}";
    var apiBase = siteBase + "/api/"
    var pagePersoBase = siteBase + "/user/page/";
    var imgBase = "{{ asset("img") }}"

</script>
<header>
    <a id="logo" href="{{ route('announcements_list') }}"><span>Lemauvaiscoin</span></a>
    <nav>
{#        <a href="{{ route("feed") }}">Accueil</a>#}
        {% if session.get('id') %}
            <a href="{{ route("liked_announcements", {"userId" : session.get('id')}) }}">Mes favoris</a>
            <a href="{{ route("profil_user", {"userId" : session.get('id')}) }}">Profil</a>
            <a href="{{ route("logout_user") }}">Déconnexion</a>
        {% else %}
            <a href="{{ route("register_user") }}">S'inscrire</a>
            <a href="{{ route("login_user") }}">Se connecter</a>
        {% endif %}
    </nav>
</header>
<div id="flashes-container">
    {% for flash in session.consumeFlashes('success') %}
        <span class="flashes flashes-success">{{ flash }}</span>
    {% endfor %}
    {% for flash in session.consumeFlashes('error') %}
        <span class="flashes flashes-error">{{ flash }}</span>
    {% endfor %}
</div>
{% block page_content %}

{% endblock %}
</body>
</html>